mat-toolbar{
  --mat-toolbar-container-background-color: oklch(53.18% .28 296.97);
  color: #fff;

}

.container{
  display: grid;
  max-width: 100%;
  grid-template-columns: 300px 300px auto;

  .grid-item {
    text-align: left;
  }
}

