<mat-toolbar>

  <span>Angular V19</span>

</mat-toolbar>

<div class="container">
  <app-users class="grid-item" [users]="usersResource.value()" [(selectedUser)]="selectedUser"></app-users>

  <app-posts class="grid-item" [posts]="postsResource.value()" [(selectedPost)]="selectedPost"
             [loadingPosts]="postsResource.isLoading()"></app-posts>

  <app-post class="grid-item" [comments]="commentsResource.value()" [post]="selectedPost()"
            [loadingComments]="commentsResource.isLoading()"></app-post>
</div>




